@font-face{
    font-family: 'zolano-sans';
    src: url(../fonts/Zolano-Sans.ttf) format('truetype');
}
@font-face{
    font-family: 'bangotic';
    src: url(../fonts/Bankgothic.ttf) format('truetype');
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
/*BARRA DE MENU*/
header{
    padding: 0 20px;
    height: 60px;
    background-color: #000;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    top: 0;
    position: sticky;
}
/*LOGO*/
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
h1{
    color: #ff6900;
    font-family: 'zolano-sans';
    font-size: 4em;
    line-height: 0.75em;
}
h2{
    font-family: 'bangotic';
    font-size: 0.72em;
    letter-spacing: 0.45em;
    color: #fff;
    font-weight: 75;
}
.logo > span{
    letter-spacing: 0px;
}
/*MENU*/
.menu{
    display: flex;
}
.navOpen{
    display: flex;
}
nav{
    display: none;
    flex-direction: column;
    justify-content: center;
}
nav ul{
    display: flex;
}
nav ul li{
    font-size: 1.25em;;
    color: #fff;
    padding: 0 5px;
    font-family: sans-serif;
}
nav ul li:hover{
    transition: ease all;
    color: #ff6900;
}
/*BOTON MENU*/
#hamburger{
    padding-top: 10px;
    height: 40px;
    width: 40px;
}
#hamburger button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
}
#hamburger button:focus{
    outline: none;
}
#hamburger button span{
    border-radius: 5px;
    background-color: #fff;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#hamburger button.open .top-line{
    animation-name: top-line-animation;
}
#hamburger button.open .middle-line{
    animation-name: middle-line-animation;
}
#hamburger button.open .bottom-line{
    animation-name: bottom-line-animation;
}
#hamburger button .top-line{
    animation-name: top-line-animation-close;
}
#hamburger button .middle-line{
    animation-name: middle-line-animation-close;
}
#hamburger button .bottom-line{
    animation-name: bottom-line-animation-close;
}
@keyframes top-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes bottom-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation{
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}
@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%,100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes middle-line-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    50%,100%{
        margin: 0px auto;
        width: 60%;
        opacity: 1;
    }
}
@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%,100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
/*SECCIONES*/
section{
    height: calc(100vh - 60px);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.uno{
    background-image: url(../img/1.jpg);
}
.dos{
    background-image: url(../img/2.jpg);
}
.tres{
    background-image: url(../img/3.jpg);
}
.cuatro{
    background-image: url(../img/4.jpg);
}
.cinco{
    background-image: url(../img/5.jpg);
}
.seis{
    background-image: url(../img/6.jpg);
}